h1	{
	font-family: Calibri;
	font-size: 30px;
	color: #000000;
}
p	{
	font-family: Calibri;
	font-size: 16px;
	color: #000000;
}
footer	{
	background-color: #FFCC00;
	font-family: Calibri;
	font-size: 16px;
}